form {
  display: table;
  margin: 100px auto;
  text-align: center;
}
.inputs [type="text"] {
  color: white;
  border: none;
  border-bottom: 2px solid white;
  display: inline-block;
  font-size: 20px;
  margin: 0 5px;
  width: 3rem;
  text-align: center;
}
